beautifulsoup4==4.8.0
google==2.0.3
pyaml==19.12.0
PyAudio==0.2.11
pyowm==2.10.0
python-vlc==3.0.7110
pyttsx3==2.87
requests==2.21.0
snips==1.0.0
snips-nlu-metrics==0.14.6
SpeechRecognition==3.8.1
urllib3==1.26.5
wikipedia==1.4.0
youtube-dl==2020.3.24
